body {
font-family: 'Roboto', sans-serif;
background-image: url("/Users/laurenblack/turing/mod1/whats-for-dinner/assets/burger-friends.jpg");
background-size: cover;
margin: 0;
}

header {
background-color: #0fb9b1;
height: 10%;
}

h1{

}

.container {
  height: 50%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}


.card {
  width: 30%;
  background: rgba(225, 225, 225, .9);
}

h2 {

}

sup {
  color: red;
}

.form {

}

.radio {

}

button {
  background-color: teal;
  border-radius: 5px
}

.hidden {
  display: none!important;
}

.main-view {
 display: flex;
 justify-content: space-around;
}

#card-two {
 display: flex;
}

.cookpot {
  width: 30%;
}

.option {

}

h3 {
  justify-content: center;
  font-style: italic;
  margin: 150px 125px 10px 125px;
}

.paragraph {
  font-size: 30;
  margin: 10px 80px 150px 80px
}
